//helper
@import './helpers/variables';
@import './helpers/mixins';

//vendors

//base
@import './base/reset';

//components
@import './components/button';

//layouts
@import './layouts/footer';
@import './layouts/header';
@import './layouts/carousel';
@import './layouts/menu';

//pages
@import './pages/about';
@import './pages/home';

//themes
@import './themes/themes';



a{
    text-decoration: none;
}
p{
    margin-bottom: 0 ;
}
body{
    margin-bottom: 1000px;
}
